:root {
  --button-height-xs: 24px;
  --button-width-xs: calc(2.5 * var(--button-height-xs));

  --button-height-sm: 32px;
  --button-width-sm: calc(2.5 * var(--button-height-sm));

  --button-height-md: 40px;
  --button-width-md: calc(2.5 * var(--button-height-md));

  --button-height-lg: 48px;
  --button-width-lg: calc(2.5 * var(--button-height-lg));

  --button-height-xl: 56px;
  --button-width-xl: calc(2.5 * var(--button-height-xl));

  text-align: center;
  overflow: hidden;
  font-weight: 600;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight, 600);
  text-align: center;
  overflow: hidden;
  padding: var(--button-padding-y, 0.5rem) var(--button-padding-x, 1rem);
  border: 1px solid transparent;
  color: var(--button-color);
  border-radius: var(--radius-default);
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    transform 0.1s ease;
}

.button[data-size="xs"] {
  font-size: var(--font-size-xs);
  height: var(--button-height-xs);
  min-width: var(--button-width-xs);
}

.button[data-size="sm"] {
  font-size: var(--font-size-sm);
  height: var(--button-height-sm);
  min-width: var(--button-width-sm);
}

.button[data-size="md"] {
  font-size: var(--font-size-md);
  height: var(--button-height-md);
  min-width: var(--button-width-md);
}

.button[data-size="lg"] {
  font-size: var(--font-size-lg);
  height: var(--button-height-lg);
  min-width: var(--button-width-lg);
}

.button[data-size="xl"] {
  font-size: var(--font-size-xl);
  height: var(--button-height-xl);
  min-width: var(--button-width-xl);
}

.button[data-variant="solid"] {
  background-color: var(--primary-color-solid);
  color: var(--color-white);
}

.button[data-variant="outline"] {
  background-color: transparent;
  border-color: var(--color-blue-outline);
  color: var(--color-blue-outline);
}

.button[data-variant="ghost"] {
  background-color: transparent;
  color: var(--primary-color-5);
}

.button[data-variant="subtle"] {
  background-color: var(--primary-color-light);
  color: var(--color-blue-light-color);
}

/* Fullwidth Modifier */
.button[data-fullwidth="true"] {
  width: 100%;
}

/* Rounded Modifier */
.button[data-rounded="true"] {
  border-radius: 9999px;
}

/* Loading State */
.button[data-loading="true"] {
  cursor: wait;
  opacity: 0.7;
}

.button[data-loading="true"] .button-content {
  /* visibility: hidden; */
}

/* Disabled State */
.button:disabled,
.button[data-loading="true"] {
  cursor: not-allowed;
  /* opacity: 0.6; */
  /* background-color: var(--color-gray-0);
  color: var(--color-gray-7);
  border-color: var(--color-gray-2); */
}

/* Section Spacing */
.button .button-section.left {
  margin-right: 0.5rem;
}

.button .button-section.right {
  margin-left: 0.5rem;
}
