/* Basic Button Styles */
:root {
  --button-height-xs: 24px;
  --button-width-xs: calc(2.5 * var(--button-height-xs));

  --button-height-sm: 32px;
  --button-width-sm: calc(2.5 * var(--button-height-sm));

  --button-height-md: 40px;
  --button-width-md: calc(2.5 * var(--button-height-md));

  --button-height-lg: 48px;
  --button-width-lg: calc(2.5 * var(--button-height-lg));

  --button-height-xl: 56px;
  --button-width-xl: calc(2.5 * var(--button-height-xl));

  text-align: center;
  overflow: hidden;
  font-weight: 600;
  cursor: pointer;
}
.button {
  font-size: 16px;
  background-color: var(--primary-color-filled);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(24, 144, 255, 0.5);
  font-family: system-ui, "Segoe UI";
}

.button:hover {
  background-color: --primary-color-filled-hover;
}

/* Variant Styles */
.button-solid {
  background-color: var(--primary-color-filled);
  color: white;
}

.button-outline {
  border: 2px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}

.button-glow {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 0 8px var(--primary-color);
}

.button-subtle {
  background: rgba(0, 0, 0, 0.05);
  color: var(--primary-color);
}

.button-ghost {
  background: transparent;
  color: var(--primary-color);
}

.button-white {
  background-color: white;
  color: var(--primary-color);
}

/* Full Width and Rounded */
.button-fullwidth {
  width: 100%;
}

.button-rounded {
  border-radius: 9999px;
}

/* Loading Text Style */
.loading-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9em;
  font-weight: bold;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

/* Left and Right Section */
.button-section {
  display: flex;
  align-items: center;
}

.button-section.left {
  margin-right: 8px;
}

.button-section.right {
  margin-left: 8px;
}
